
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    {% if user.is_authenticated %}
        <h2>Hello {{name}} you are logged in.</h2>
    {% else %}
        <p>You are not authenticated. You will be redirected to the signup page...</p>
        <meta http-equiv="refresh" content="0; url='{% url 'signin' %}'">
    {% endif %}
</body>
</html>

